<footer class="footer">
  <ul class="nav">
    <li class="nav__item">
      <a href="/admin/about">About us</a>
    </li>
    <li class="nav__item">
      <a href="#">Contact us</a>
    </li>
    <li class="nav__item">
      <a href="#">Support</a>
    </li>
    <li class="nav__item">
      <a href="#">Download apps</a>
    </li>
  </ul>
  <p class="copyright">&copy; copyright 2020 by TDN</p>
</footer>
