<header class="header">
  <div class="user ml-lg">
    <a href="/users/update" class="user__info">
      <svg class="user__icon">
        <use xlink:href="/css/icon.svg#icon-user"></use>
      </svg>
    </a>
    <p class="user__info">
      <span class="user__active">&bull;</span>
    </p>
  </div>
  <div class="search">
    <form action="#">
      <input type="text" required />
      <svg class="search__icon">
        <use xlink:href="/css/icon.svg#icon-search"></use>
      </svg>
    </form>
  </div>

  <div class="navigation">
    <input
      type="checkbox"
      class="navigation__checkbox"
      id="navigation-toggle"
    />
    <label for="navigation-toggle" class="navigation__button">
      <svg class="navigation__button--show">
        <use xlink:href="/css/icon.svg#icon-menu"></use>
      </svg>
      <svg class="navigation__button--exits">
        <use xlink:href="/css/icon.svg#icon-cross"></use>
      </svg>
    </label>
    <div class="navigation__background"></div>
    <nav class="navigation__nav">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a href="/users/login" class="navigation__link">Login</a>
        </li>
        <li class="navigation__item">
          <a href="#" class="navigation__link">Order</a>
        </li>
        <li class="navigation__item">
          <a href="/" class="navigation__link">Home</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
