<!DOCTYPE html>
<html lang="en">
  <%-include('../include/header.ejs')%>
  <body>
    <div class="container">
      <%-include('../include/navigation.ejs')%>
      <div class="section__about">
        <img
          src="https://scontent.fhan5-3.fna.fbcdn.net/v/t1.0-1/c90.0.240.240a/p240x240/85147812_495199971401634_8532062244148609024_o.jpg?_nc_cat=106&_nc_sid=dbb9e7&_nc_ohc=q4n2gHr5GJcAX-Svny0&_nc_ht=scontent.fhan5-3.fna&oh=0544068ee53da61e2c1adb317666bae1&oe=5F09791B"
          alt="avatar admin"
          class="mb-lg"
        />
        <pre>
          &ldquo; Điều tồi tệ khi học ĐH là những ngày lên giảng đường để bút bị đánh rơi,
          càng tồi tệ hơn đó là bút bị đánh rơi nhiều lần. Hậu quả là mất gốc.
          Tuy nhiêu điều tồi tệ luôn tồn tại cùng điều tuyệt vời! Không gì khác, điều tuyệt 
          vời  chính là: đôi khi ta có thể lấy gốc trong một đêm.
          Và cũng song hành một sự thật là: đâu phải điều tuyệt vời cũng xảy đến &rdquo;
        </pre>
      </div>
      <%-include('../include/footer.ejs')%>
    </div>
  </body>
</html>
